<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Osiris</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

<script src="<% request.uri_base %>/javascripts/jquery-1.10.1.min.js" type="text/javascript"></script>

<% IF javascripts %>
<% FOR js in javascripts %>

<script src="<% request.uri_base %>/javascripts/<% js %>.js" type="text/javascript"></script>

<% END %>
<% END %>

</head>
<body>
<div id="header">
<h1>Osiris - a web interface to Isis</h1>
<div id="login">Logged in as <strong><% user %></strong> [<a href="/logout">Log out</a>]</div>
</div>

<div id="sidebar">
<ul class="sidebar">
<li class="sidebar"><a href="/">Home</a></li>
<li class="sidebar"><a href="/browse">Isis commands</a></li>
</ul>


</div>


<div id="page">
<% content %>
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer</a> <% dancer_version %>
</div>
</div>

</body>
</html>
