<h2><% app %></h2>

<div id="brief"><% brief %></div>

<div id="description"><% description %></div>

<div>Target = <% url %></div>

<% INCLUDE form.tt url      = url
                   formid   = "isisapp"
                   api      = form 
                   submit   = "Start job"
                   cancel   = back_url %>

