<h2><% browseby.ucfirst %></h2>


<table id="applist">

<% FOREACH class IN browse.keys.sort %>

<tr>
	<td class="appname"><a href="/browse/<% browseby %>/<% class %>"><% class %></a></td>
</tr>

<% END %>

</table>


