<h2>Job <% job.id %></h2>

<table>
<tbody>


<tr>
<td class="label">Command line</td>
<td><pre><% job.command.join(' ') %></pre></td>
</tr>

<tr>
<td class="label">Job status</td>
<td><strong><% job.status %></strong></td>
</tr>

<tr>
<td class="label">Started</td>
<td><% job.created %></td>
</tr>

<tr>
<td class="label">Completed</td>
<td><% job.completed %></td>
</tr>

<tr>
<td class="label">print.prt</td>
<td><pre><% job.prt %></td>
</tr>

</table>

<p><a href="/jobs">Back</a></p>




