<h2>Log in</h2>
<form name="login" method="post">

<table>
<tr><td>User name</td>
 <td><input name="user" type="text" size="10" /></td>
</tr>

<tr><td>Password</td>
 <td><input name="pass" type="password" size="10" /></td>
</tr>

<tr><td></td>
 <td><input type="submit" value="Log in" /></td>
</tr>

</table>
<input type="hidden" name="path" value="<% path %>" />

</form>
