<h2>Log in</h2>

<% IF fake %>

<a href="<% login_url %>">Local JWT authentication test</a>

<% ELSE %>

<p><a href="<% login_url %>">Log in via the Australian Access Federation</a></p>

<a href="https://www.aaf.edu.au/"><img src="/images/aaf_service_223x54.png" width="223" height="54" alt="Australian Access Federation" /></a>

<% END %>