<h2>Search programs for "<% search %>"</h2>


<table id="applist">

<% IF results %>

<% FOREACH result IN results %>

<tr>
	<td class="appname"><a href="/app/<% result.app %> "><% result.app %>: <% result.description %></a></td>
</tr>

<% END %>

<% ELSE %>

<tr><td class="appname">No results found.</td></tr>

<% END %>

</table>


