
body {
    background-color: #024;
    padding: 2em;
}

#header {
    background-color: #ddd;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 {
    font-size: 14px;
    color: #000;
}

#page {
    background-color: #ddd;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


#sidebar {
float: right;
width: 175px;
}

tr.groupheader {
    font-weight: bold;
    font-size: 120%;
    margin: 1em;
}

tr.paramhelp {
    cursor: pointer
}

td.paramlabel {
    width: 150px;
    font-weight: bold;
}

div.paramhelpswitch {
    color: #004;
}

td.paramdesc {
    width: 600px;
}

div.paramdesc {
    display:none
}