
body {
    background-color: #024;
    padding: 2em;
    font-family: Helvetica, Arial, sans-serif;
}

#header {
    background-color: #ddd;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#login {
    float: right;
    font-size: 9pt;
    font-weight: bold;
}

h1 {
    font-size: 12pt;
    color: #000;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
}

#page {
    background-color: #ddd;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#footer {
    text-align: right;
    font-size: 8pt
}


#sidebar {
float: right;
width: 175px;
}

tr.groupheader {
    font-weight: bold;
    font-size: 120%;
    margin: 1em;
}

tr.paramhelp {
    cursor: pointer
}

td.paramlabel {
    width: 150px;
    font-weight: bold;
}

div.paramhelpswitch {
    color: #004;
}

td.paramdesc {
    width: 600px;
}

div.paramdesc {
    display:none
}

#description {
    display:none
}


input {
    border: 1px solid #888;
}


input.error_highlight {
    background-color: #fd8;
    border: 1px solid red;
}


span.error_text {
    font-weight: bold;
    font-size: 9pt;
    color: #400;
}


div#debug {
    background-color: white;
    border: 1px solid black;
}


/* Styles for the job pages */

td.header {
    font-weight: bold;
    font-size: 115%;
    border-top: 1px solid #888;
    padding-bottom: 1em;
}

td.label {
    font-weight: bold;
    vertical-align: top;
    width: 150px;
}

td.value {
    vertical-align: top;
}


/* styles for file browsing */

span.browseropen {
    cursor:pointer;
    color: darkblue;
}

div.filebrowser {
}

div.filebrowser_job {
    font-weight: bold;
    color: darkblue;
    padding-top: .2em;
    cursor: pointer;
}

div.files {
    padding-left: 1em;
}

div.fhead {
    font-weight: normal;
    font-style: italic;
    font-size: 80%
}


div.file {
    font-family: monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    padding-left: 2em;
    color: darkblue;
    cursor: pointer;
}

div.selected {
    color: blue;
    background-color: #bef;
}