/* Styles for the user's job list */

a {
    color: #138;
    text-decoration: none;
}

a:followed {
    color: #138;
}


table.joblist {
    border-collapse: collapse;
}

table.joblist td {
   padding: .25em;
   border-top: 1px dotted #999
}

table.joblist td.new {
    background-color: #ff9;
}

table.joblist td.processing {
    background-color: #fa9;
}


table.joblist td.done {
    background-color: #dfa;
}


a.job { 
    text-decoration:none;
}

a.app {
    text-decoration:none;
    font-weight: bold;
}

td.input {
    background-color: #adf;
    font-weight: bold;
    color: #138;
    padding: 0 0.5em 0 0.5em;
}

table.joblist td.outputghost {
    background-color: #eee;
    color: #888;
}

table.joblist td.output {
    background-color: #dfa;
    font-weight: bold;
    color: #138;
}



/* Styles for the app form */

tr.groupheader {
    font-weight: bold;
    font-size: 120%;
    margin: 1em;
}

tr.paramhelp {
    cursor: pointer
}

td.paramlabel {
    width: 150px;
    font-weight: bold;
}

div.paramhelpswitch {
    color: #004;
}

td.paramdesc {
    width: 600px;
}

div.paramdesc {
    display:none
}

#description {
    display:none
}


input {

    border: 1px solid #888;
}


input.error_highlight {
    background-color: #fec;
    border: 1px solid red;
}


span.error_text {
    font-weight: bold;
    font-size: 9pt;
    color: #400;
}


div#debug {
    background-color: white;
    border: 1px solid black;
}


/* Styles for the job pages */

td.header {
    font-weight: bold;
    font-size: 115%;
    border-top: 1px dotted #999;
    padding-bottom: 1em;
}

td.label {
    font-weight: bold;
    vertical-align: top;
    width: 150px;
}

td.value {
    vertical-align: top;
}




/* styles for file browsing */

span.browseropen {
    cursor:pointer;
    color: darkblue;
}

div.filebrowser {
}

div.filebrowser_job {
    font-weight: bold;
    color: darkblue;
    padding-top: .2em;
    cursor: pointer;
}

div.files {
    padding-left: 1em;
}

div.fhead {
    font-weight: normal;
    font-style: italic;
    font-size: 80%
}

div.file {
    font-family: monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    padding-left: 2em;
    color: darkblue;
    cursor: pointer;
}

div.selected {
    color: blue;
    background-color: #bef;
}